$red: rgba(255, 72, 81, 1);
$bg: black;
$mainBG: #e8e8e8;
$btnOrange: #FF9800;
$hoverBtn: rgb(255, 230, 1);

body {
    margin: 0px;
    background: $bg;
}

header {
    color: white;

    h2 {
        color: $hoverBtn;
    }
}


.article {
    text-align: center;
    font-size: 3em;
    margin: 0px;
}

.btn-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background: black;

    .scrapeBtn {
        margin-top: 3em;
        font-size: 1.2em;
        height: 3em;
        background: $btnOrange;
        border: none;
        transition: all .3s;
        margin: 0px;

        &:hover {
            cursor: pointer;
            background: $hoverBtn;
        }
    }

}

.flex-main {
    background: $mainBG
}

.flex-container {
    text-align: center;
    font-size: 3em;
}

.flex-main {
    display: flex;
    transition: all .3s;

    .left-side {
        flex: 3;

        .flex-ul {

            ul {
                display: flex;
                flex-wrap: wrap;
                list-style-type: none;

                li {
                    height: 200px;
                    margin: 5px;

                    .card {
                        background: #fff;
                        display: flex;
                        max-width: 500px;
                        width: 100%;

                        .article-container {
                            flex: 2;

                            .linkStyle {}

                            // position: relative;
                            .notes-container {
                                background: white;
                                border-radius: 5px;

                                .circle {
                                    // height: 2em;
                                    width: 1em;
                                    padding: 10px;
                                    display: table-cell;
                                    text-align: center;
                                    vertical-align: middle;
                                    border-radius: 50%;
                                    background: rgb(39, 250, 250);
                                    transition: all .3s;
                                    position: relative;
                                    box-sizing: border-box;
                                    transform: scale(.7);

                                    &:hover {
                                        cursor: pointer;
                                        transform: scale(.8);
                                        color: white;
                                    }
                                }
                            }
                        }

                        img {
                            object-fit: cover;
                            width: 220px;
                            flex: 1;
                        }
                    }
                }
            }
        }
    }


    .right-side {
        flex: 1;

        .note-container {
            position: relative;
            background: rgb(247, 247, 247);
            border-radius: 5px;
            padding: 20px;

            h2 {
                margin: 0;
            }

            #x-btn {
                background: rgb(224, 35, 10);
                text-align: center;
                padding: 10px;
                position: absolute;
                top: 0px;
                right: 0px;
                transition: all .3s;

                &:hover {
                    cursor: pointer;
                }
            }
        }

    }
}