body {
  margin: 0px;
  background: black;
}

header {
  color: white;
}

header h2 {
  color: #ffe601;
}

.article {
  text-align: center;
  font-size: 3em;
  margin: 0px;
}

.btn-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  background: black;
}

.btn-section .scrapeBtn {
  margin-top: 3em;
  font-size: 1.2em;
  height: 3em;
  background: #FF9800;
  border: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin: 0px;
}

.btn-section .scrapeBtn:hover {
  cursor: pointer;
  background: #ffe601;
}

.flex-main {
  background: #e8e8e8;
}

.flex-container {
  text-align: center;
  font-size: 3em;
}

.flex-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.flex-main .left-side {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.flex-main .left-side .flex-ul ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
}

.flex-main .left-side .flex-ul ul li {
  height: 200px;
  margin: 5px;
}

.flex-main .left-side .flex-ul ul li .card {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  width: 100%;
}

.flex-main .left-side .flex-ul ul li .card .article-container {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.flex-main .left-side .flex-ul ul li .card .article-container .notes-container {
  background: white;
  border-radius: 5px;
}

.flex-main .left-side .flex-ul ul li .card .article-container .notes-container .circle {
  width: 1em;
  padding: 10px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: #27fafa;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.flex-main .left-side .flex-ul ul li .card .article-container .notes-container .circle:hover {
  cursor: pointer;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  color: white;
}

.flex-main .left-side .flex-ul ul li .card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 220px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-main .right-side {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-main .right-side .note-container {
  position: relative;
  background: #f7f7f7;
  border-radius: 5px;
  padding: 20px;
}

.flex-main .right-side .note-container h2 {
  margin: 0;
}

.flex-main .right-side .note-container #x-btn {
  background: #e0230a;
  text-align: center;
  padding: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.flex-main .right-side .note-container #x-btn:hover {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */