body {
  margin: 0px;
  background: #1d1e22;
}

header {
  background: url("../images/crossline-lines.png") no-repeat center center fixed;
  background-position: bottom 100px top;
  background-color: #d4d4dc;
  color: black;
}

.article {
  text-align: center;
  font-size: 3em;
  margin: 0px;
}

.btn-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #fdc51c;
}

.btn-section a {
  text-decoration: none;
}

.btn-section .scrapeBtn,
.btn-section .savedBtn {
  font-size: 1.2em;
  height: 3em;
  background: #f8c836;
  margin-right: 5px;
  border: none;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  -webkit-transition: all .3s;
  transition: all .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.btn-section .scrapeBtn span,
.btn-section .savedBtn span {
  -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
}

.btn-section .scrapeBtn:hover,
.btn-section .savedBtn:hover {
  cursor: pointer;
  background: #393f4d;
  color: white;
}

.btn-section .homeBtn {
  margin-top: 3em;
  font-size: 1.2em;
  height: 3em;
  background: #FF9800;
  border: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin: 0px;
}

.btn-section .homeBtn:hover {
  cursor: pointer;
  background: #ffe601;
}

.flex-container {
  text-align: center;
  font-size: 3em;
  margin: 0px;
}

.flex-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all .3s;
  transition: all .3s;
  padding: 5px;
}

.flex-main .left-side {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin: 5px;
}

.flex-main .left-side .flex-ul .card {
  background: #fff;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-main .left-side .flex-ul .card .siteLink {
  text-decoration: none;
  color: orange;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.flex-main .left-side .flex-ul .card .siteLink:hover {
  text-decoration: underline;
  text-decoration: none;
  border: solid 2px #FF9800;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FF9800;
  color: white;
}

.flex-main .left-side .flex-ul .card .article-container {
  padding: 20px;
}

.flex-main .left-side .flex-ul .card .article-container .notes-container {
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-main .left-side .flex-ul .card .article-container .notes-container a {
  text-decoration: none;
}

.flex-main .left-side .flex-ul .card .article-container .notes-container .circle {
  width: 5em;
  padding: 10px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: #27fafa;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.flex-main .left-side .flex-ul .card .article-container .notes-container .circle:hover {
  cursor: pointer;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  color: white;
}

.flex-main .left-side .flex-ul .card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 220px;
}

.flex-main .right-side {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 5px;
}

.flex-main .right-side #notes {
  background: #F9F9F9;
  padding: 25px;
  margin: 20px 0;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.flex-main .right-side #notes h2 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

.flex-main .right-side #notes input {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

.flex-main .right-side #notes textarea {
  height: 100px;
  width: 100%;
  border: none;
  resize: none;
}

.flex-main .right-side #notes #saveNote {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

.flex-main .right-side #notes #saveNote:hover {
  background: #43A047;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.flex-main .right-side .note-container {
  position: relative;
  background: #f7f7f7;
  border-radius: 5px;
  padding: 20px;
}

.flex-main .right-side .note-container h2 {
  margin: 5px 0 15px;
  display: block;
  font-size: 2em;
  font-weight: bold;
}

.flex-main .right-side .note-container #x-btn {
  background: #e0230a;
  text-align: center;
  padding: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.flex-main .right-side .note-container #x-btn:hover {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */