body {
    margin: 0px;
    background: rgb(218, 218, 218);
}

.article {
    text-align: center;
    font-size: 3em;
    margin: 0px;
}

.btn-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .scrapeBtn {
        margin-top: 3em;
        font-size: 1.2em;
        height: 3em;
        background: #FF9800;
        border: none;
        transition: all .3s;
        margin: 0px;

        &:hover {
            cursor: pointer;
            background: rgb(255, 230, 1);
        }
    }

}

.flex-container {
    text-align: center;
    font-size: 3em;
}

.flex-main {
    display: flex;
    transition: all .3s;
    padding: 5px;

    .left-side {
        flex: 2;
        margin: 5px;

        .flex-ul {

            .card {
                background: #fff;
                margin-bottom: 10px;
                display: flex;

                .siteLink {
                    text-decoration: none;
                    color: orange;
                    transition: all .3s;

                    &:hover {
                        text-decoration: underline;
                        text-decoration: none;
                        border: solid 2px #FF9800;
                        padding: 5px;
                        box-sizing: border-box;

                        background: #FF9800;
                        color: white;
                    }
                }

                .article-container {
                    padding: 20px;

                    // position: relative;
                    .notes-container {
                        padding: 20px;
                        border-radius: 5px;
                        margin-bottom: 10px;
                        display: flex;
                        justify-content: space-around;

                        a {
                            text-decoration: none;
                        }

                        .circle {
                            // height: 2em;
                            width: 5em;
                            padding: 10px;
                            display: table-cell;
                            text-align: center;
                            vertical-align: middle;
                            border-radius: 50%;
                            background: rgb(39, 250, 250);
                            transition: all .3s;
                            position: relative;
                            box-sizing: border-box;
                            transform: scale(.7);

                            &:hover {
                                cursor: pointer;
                                transform: scale(.8);
                                color: white;
                            }
                        }
                    }
                }

                img {
                    object-fit: cover;
                    width: 220px;
                }
            }
        }
    }


    .right-side {
        flex: 1;
        margin: 5px;

        #notes {
            background: #F9F9F9;
            padding: 25px;
            margin: 20px 0;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

            h2 {
                display: block;
                font-size: 30px;
                font-weight: 300;
                margin-bottom: 10px;
            }

            input {
                border: medium none !important;
                margin: 0 0 10px;
                min-width: 100%;
                padding: 0;
                width: 100%;
            }

            textarea {
                height: 100px;
                width: 100%;
                border: none;
                resize: none;
            }

            #saveNote {
                cursor: pointer;
                width: 100%;
                border: none;
                background: #4CAF50;
                color: #FFF;
                margin: 0 0 5px;
                padding: 10px;
                font-size: 15px;

                &:hover {
                    background: #43A047;
                    transition: background-color 0.3s ease-in-out;
                }
            }

        }

        .note-container {
            position: relative;
            background: rgb(247, 247, 247);
            border-radius: 5px;
            padding: 20px;


            h2 {
                margin: 5px 0 15px;
                display: block;
                font-size: 2em;
                font-weight: bold;
            }

            #x-btn {
                background: rgb(224, 35, 10);
                text-align: center;
                padding: 10px;
                position: absolute;
                top: 0px;
                right: 0px;
                transition: all .3s;

                &:hover {
                    cursor: pointer;
                }
            }
        }

    }
}